In [20]:
#determing the compressive strength of a given concrete sample based on its ingredients

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

In [21]:
#importing the pandas and the Numpy libraries.
import pandas as pd
import numpy as np

In [22]:
#download the data and read it into a pandas dataframe.
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [23]:
#check how many data points we have.
concrete_data.shape

(1030, 9)

In [24]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [25]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [26]:
#Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [27]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [28]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [29]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [30]:
n_cols = predictors_norm.shape[1] # number of predictors

In [31]:
conda install tensorflow

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [32]:
conda install keras

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [33]:
import keras

Using TensorFlow backend.
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\palak\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [35]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [36]:
# build the model
model = regression_model()

In [37]:
# fit the model
#we will train and test the model at the same time using the fit method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From C:\Users\palak\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1631.2792 - val_loss: 1141.8470
Epoch 2/100
 - 0s - loss: 1505.0429 - val_loss: 1030.8258
Epoch 3/100
 - 0s - loss: 1308.3246 - val_loss: 860.7201
Epoch 4/100
 - 0s - loss: 1012.3226 - val_loss: 641.7828
Epoch 5/100
 - 0s - loss: 671.0964 - val_loss: 418.6844
Epoch 6/100
 - 0s - loss: 399.9281 - val_loss: 269.4039
Epoch 7/100
 - 0s - loss: 276.6686 - val_loss: 205.3603
Epoch 8/100
 - 0s - loss: 249.9575 - val_loss: 181.3118
Epoch 9/100
 - 0s - loss: 229.7552 - val_loss: 181.6432
Epoch 10/100
 - 0s - loss: 215.0999 - val_loss: 169.1400
Epoch 11/100
 - 0s - loss: 205.7282 - val_loss: 165.4441
Epoch 12/100
 - 0s - loss: 196.7003 - val_loss: 162.5258
Epoch 13/100
 - 0s - loss: 189.7606 - val_loss: 159.7560
Epoch 14/100
 - 0s - loss: 183.0328 - val_loss: 155.0333
Epoch 15/100
 - 0s - loss: 178.0441 - val_loss: 152.8920
Epoch 16/100
 - 0s - loss: 173.4804 - val_loss: 150.9442
Epoch 17/100
 - 0s - loss: 169.7859 - val_loss: 151.2347
Epoch 18/100
 - 0s - loss: 165.8326 - val_loss: 147.7727
Epoch 19/100
 - 0s - loss: 162.9366 - val_loss: 145.8561
Epoch 20/100
 - 0s - loss: 159.4900 - val_loss: 146.8169
Epoch 21/100
 - 0s - loss: 156.8946 - val_loss: 145.4398
Epoch 22/100
 - 0s - loss: 154.8264 - val_loss: 142.2700
Epoch 23/100
 - 0s - loss: 152.5368 - val_loss: 144.3159
Epoch 24/100
 - 0s - loss: 150.4071 - val_loss: 145.8353
Epoch 25/100
 - 0s - loss: 148.7736 - val_loss: 143.2969
Epoch 26/100
 - 0s - loss: 147.3542 - val_loss: 142.1008
Epoch 27/100
 - 0s - loss: 145.4779 - val_loss: 142.8677
Epoch 28/100
 - 0s - loss: 143.7466 - val_loss: 142.9573
Epoch 29/100
 - 0s - loss: 142.1995 - val_loss: 143.0060
Epoch 30/100
 - 0s - loss: 140.5826 - val_loss: 144.2323
Epoch 31/100
 - 0s - loss: 139.7507 - val_loss: 143.9813
Epoch 32/100
 - 0s - loss: 137.4543 - val_loss: 144.2639
Epoch 33/100
 - 0s - loss: 136.7735 - val_loss: 145.6657
Epoch 34/100
 - 0s - loss: 135.2997 - val_loss: 142.2795
Epoch 35/100
 - 0s - loss: 133.7731 - val_loss: 143.6624
Epoch 36/100
 - 0s - loss: 132.6933 - val_loss: 142.0774
Epoch 37/100
 - 0s - loss: 130.7543 - val_loss: 143.4792
Epoch 38/100
 - 0s - loss: 129.1813 - val_loss: 143.8773
Epoch 39/100
 - 0s - loss: 127.7875 - val_loss: 143.9877
Epoch 40/100
 - 0s - loss: 126.3235 - val_loss: 143.1275
Epoch 41/100
 - 0s - loss: 124.6341 - val_loss: 143.3319
Epoch 42/100
 - 0s - loss: 122.8412 - val_loss: 141.5837
Epoch 43/100
 - 0s - loss: 121.3787 - val_loss: 144.1801
Epoch 44/100
 - 0s - loss: 119.0793 - val_loss: 141.0406
Epoch 45/100
 - 0s - loss: 117.0363 - val_loss: 141.1553
Epoch 46/100
 - 0s - loss: 114.9011 - val_loss: 142.6962
Epoch 47/100
 - 0s - loss: 112.4515 - val_loss: 138.4746
Epoch 48/100
 - 0s - loss: 109.3394 - val_loss: 140.2850
Epoch 49/100
 - 0s - loss: 106.7590 - val_loss: 139.2637
Epoch 50/100
 - 0s - loss: 103.5846 - val_loss: 136.7962
Epoch 51/100
 - 0s - loss: 101.0679 - val_loss: 134.3877
Epoch 52/100
 - 0s - loss: 97.4852 - val_loss: 132.8258
Epoch 53/100
 - 0s - loss: 93.8835 - val_loss: 131.9698
Epoch 54/100
 - 0s - loss: 90.3855 - val_loss: 129.9180
Epoch 55/100
 - 0s - loss: 87.1341 - val_loss: 130.9248
Epoch 56/100
 - 0s - loss: 83.7142 - val_loss: 128.1539
Epoch 57/100
 - 0s - loss: 80.3487 - val_loss: 124.5139
Epoch 58/100
 - 0s - loss: 77.3024 - val_loss: 121.0079
Epoch 59/100
 - 0s - loss: 73.9479 - val_loss: 125.6642
Epoch 60/100
 - 0s - loss: 71.2489 - val_loss: 120.0579
Epoch 61/100
 - 0s - loss: 67.8375 - val_loss: 120.4877
Epoch 62/100
 - 0s - loss: 65.2268 - val_loss: 118.9099
Epoch 63/100
 - 0s - loss: 62.7387 - val_loss: 116.2447
Epoch 64/100
 - 0s - loss: 60.8048 - val_loss: 114.7286
Epoch 65/100
 - 0s - loss: 58.2881 - val_loss: 109.7437
Epoch 66/100
 - 0s - loss: 56.8043 - val_loss: 112.0589
Epoch 67/100
 - 0s - loss: 54.6192 - val_loss: 112.5876
Epoch 68/100
 - 0s - loss: 53.2044 - val_loss: 108.5999
Epoch 69/100
 - 0s - loss: 51.6797 - val_loss: 109.3913
Epoch 70/100
 - 0s - loss: 50.4684 - val_loss: 108.7385
Epoch 71/100
 - 0s - loss: 48.7093 - val_loss: 111.4367
Epoch 72/100
 - 0s - loss: 48.0482 - val_loss: 107.1154
Epoch 73/100
 - 0s - loss: 46.8680 - val_loss: 113.4022
Epoch 74/100
 - 0s - loss: 45.4417 - val_loss: 111.4794
Epoch 75/100
 - 0s - loss: 44.8953 - val_loss: 107.6298
Epoch 76/100
 - 0s - loss: 43.6433 - val_loss: 116.6482
Epoch 77/100
 - 0s - loss: 43.6283 - val_loss: 111.2371
Epoch 78/100
 - 0s - loss: 42.3961 - val_loss: 110.6264
Epoch 79/100
 - 0s - loss: 41.4492 - val_loss: 111.1143
Epoch 80/100
 - 0s - loss: 41.2172 - val_loss: 109.9249
Epoch 81/100
 - 0s - loss: 40.5542 - val_loss: 118.7863
Epoch 82/100
 - 0s - loss: 39.7949 - val_loss: 110.2904
Epoch 83/100
 - 0s - loss: 39.3810 - val_loss: 110.6588
Epoch 84/100
 - 0s - loss: 38.6804 - val_loss: 118.7763
Epoch 85/100
 - 0s - loss: 38.9514 - val_loss: 112.9762
Epoch 86/100
 - 0s - loss: 38.3360 - val_loss: 112.9670
Epoch 87/100
 - 0s - loss: 37.5121 - val_loss: 113.8696
Epoch 88/100
 - 0s - loss: 37.0957 - val_loss: 113.5325
Epoch 89/100
 - 0s - loss: 36.7706 - val_loss: 114.3220
Epoch 90/100
 - 0s - loss: 36.3021 - val_loss: 117.4784
Epoch 91/100
 - 0s - loss: 35.6167 - val_loss: 114.1369
Epoch 92/100
 - 0s - loss: 35.3156 - val_loss: 118.8574
Epoch 93/100
 - 0s - loss: 34.9719 - val_loss: 114.5571
Epoch 94/100
 - 0s - loss: 35.6300 - val_loss: 115.9355
Epoch 95/100
 - 0s - loss: 34.3979 - val_loss: 116.4464
Epoch 96/100
 - 0s - loss: 34.4438 - val_loss: 115.8478
Epoch 97/100
 - 0s - loss: 33.6480 - val_loss: 113.3613
Epoch 98/100
 - 0s - loss: 33.7149 - val_loss: 119.2065
Epoch 99/100
 - 0s - loss: 33.1256 - val_loss: 117.6447
Epoch 100/100
 - 0s - loss: 32.9643 - val_loss: 114.4307